@model IEnumerable<StockManagementSystem.ViewModels.PurchaseIndexVM>

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<p>
    <label>Bill No: @Model.FirstOrDefault().BillNumber</label>
    <label>Vendor Name: @Model.FirstOrDefault().VendorName</label>
    <label>Purchase Date: @Model.FirstOrDefault().PurchaseDate</label>
    <label>Total: @Model.FirstOrDefault().TotalPrice</label>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @(item.Price*item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
           
        </tr>
}
    </tbody>
</table>
